.DS_Store
**/.DS_Store
.vscode/
.idea/
CHANGELOG.md
template/
src/app/etc/env.php
src/vendor/
src/generated/*
!src/generated/.gitkeep
src/var/*
!src/var/.gitkeep
src/pub/static/
src/pub/media/
src/setup/
src/lib/
src/auth.json